*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
}

body {
  font-family: Roboto, sans-serif;
}

a,
a :visited,
a :hover,
a :active {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
