/* MAIN CSS FILE */

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

button {
  width: 8rem;
  height: 2.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.user-access-control {
  width: 350px;
  height: 500px;
  margin: 4rem auto;
  border: 1px dotted #000000;
  border-radius: 1rem;
}

.sign-in-page {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.sign-in-title {
  text-align: center;
}

.sign-in-title h1 {
  background-color: rgb(165, 149, 224);
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.sign-in-title h2 {
  margin-top: 1rem;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.sign-in-form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 4.5rem;
}

.sign-in-form-field input {
  width: 100%;
  height: 2.25rem;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.sign-in-redirect {
  width: 100%;
  height: 4rem;
  margin: 2rem 1rem;
}
