.app-header {
  display: grid;
  grid-template-columns: 4fr 4fr 1fr 2fr;
  grid-template-areas: "logo menu user login";
  width: 100%;
  height: 4rem;
}

.header-logo {
  grid-area: logo;
  align-self: center;
}

.logo-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-brand img {
  width: 4rem;
  height: 4rem;
}

.header-banner {
  align-self: center;
}

.header-login {
  grid-area: login;
  align-self: center;
  justify-content: right;
}

.header-login-btn {
  display: flex;
  justify-content: right;
}

.header-date {
  width: 100%;
  margin-top: 0.5rem;
  text-align: right;
  color: rgba(45, 36, 36, 1);
}

.header-login span {
  display: flex;
  width: 6rem;
  height: 2.5rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: rgba(45, 36, 36, 1);
  border: 2px solid rgba(45, 36, 36, 1);
  border-radius: 0.5rem;
}
