.app-header {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr 2fr;
  grid-template-areas: "logo menu user login";
  width: 100%;
  height: 6rem;
}

.header-logo {
  grid-area: logo;
  align-self: center;
}

.logo-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: RobotoBold, sans-serif;
  font-size: 1.2rem;
}

.logo-brand img {
  width: 5rem;
  height: 5rem;
}

.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  width: 100%;
}

.header-nav ul {
  list-style: none;
}

.header-nav li {
  font-weight: 600;
  font-size: 1.25rem;
  display: inline-block;
  margin: 1.25rem;
  text-align: center;
}

.header-login {
  grid-area: login;
  align-self: center;
  justify-content: right;
}

.header-login-btn {
  display: flex;
  justify-content: right;
}

.header-date {
  width: 100%;
  margin-top: 0.5rem;
  text-align: right;
  color: rgba(45, 36, 36, 1);
}

.header-login span {
  display: flex;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: rgba(45, 36, 36, 1);
  border: 2px solid rgba(45, 36, 36, 1);
  border-radius: 0.5rem;
}
