.app-home {
  width: 100%;
  margin-top: 1rem;
}

.home-hero {
  width: 100%;
  height: 24rem;
  margin: 0 auto;
  background-color: rgba(224, 192, 151, 1);
  color: rgba(45, 36, 36, 1);
  border-radius: 1rem;
  padding: 4rem;
}

.home-hero p {
  font-size: 3.5rem;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  column-gap: 6rem;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
}

.home-content div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 16rem;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(45, 36, 36, 1);
  color: rgba(224, 192, 151, 1);
  border-radius: 50%;
}

.home-content img {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
}

.home-content-dot {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-top: 2rem;
  background-color: rgba(224, 192, 151, 1);
}
