.app-login {
  display: grid;
  grid-template-rows: 2fr 3fr 1fr;
  grid-template-areas:
    "title"
    "form"
    "info";
  justify-items: center;
  margin: 4rem auto;
  width: 28rem;
  background-color: rgba(224, 192, 151, 0.4);
  color: rgba(45, 36, 36, 1);
  padding: 1rem;
  border-radius: 1rem;
}

.login-title {
  grid-area: title;
  width: 100%;
  text-align: center;
}

.login-title h2 {
  font-size: 1.8rem;
}

.login-title img {
  width: 4rem;
  margin: 1rem;
}

.login-form {
  grid-area: form;
  margin: 2rem 1rem;
  text-align: center;
}

.login-form div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  margin: 0.5rem 0;
  align-items: center;
}

.login-form input {
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.login-form button {
  width: 12rem;
  height: 3rem;
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: rgba(45, 36, 36, 1);
  color: rgba(224, 192, 151, 1);
  border-radius: 1rem;
}

.login-form button :hover {
  background-color: rgba(224, 192, 151, 1);
  color: rgba(45, 36, 36, 1);
}

.login-option {
  width: 100%;
  text-align: center;
}

.login-option a {
  text-decoration: underline;
  color: red;
  font-size: 1.2rem;
}

.login-option p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
